body { background-color: #144820;
}

h1 {
    text-align: center;
    color:#FFFFFF;
    }

    iframe{float: top;
      padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1vh;}

    .topnav {
        background-color: #04AA6D;
        overflow: hidden;
        margin-left: 1vw;
        list-style-type: none;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 90vw;
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float:left;
        color: #FFFFFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
     
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #FFFFFF;
        color:#04AA6D;
      }
      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: #04AA6D;
        color: #FFFFFF;
      }
      /* styles.css */
    
      h1{color:#FFFFFF}/*white color*/
      .logo {
        float: left;
        width: 9vw;
        height: 6vh;
      }
      
      h2{
    color: #FFFFFF; /* white color */
  }
  h3{color:#FFFFFF}/*white color*/
  
p{
    color:#FFFFFF;
}

.white-text {
    color: #FFFFFF;
  }

  table{ color:white; /*text kleur table*/
 background-color:#144820; /* Achtergrondkleur voor de tabel */
  }
  h2{border-style:solid;border-radius: 5px; border-color: #04AA6D;}

  footer {
    background-color:#04AA6D; /* Dezelfde kleur als navigatiebalk */
    color: white;
    text-align: center;
    /* Hoogte van de footer berekenen (bijvoorbeeld 30px) */
    height: 40vh;
    /* Andere stijlregels voor de footer */
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-height:6vh;
  }
   #software {float:right;
  width: 700px;
height:400px;}

form{
  color:#FFFFFF;}


  li{color:#FFFFFF}

  a{color: #FFFFFF;}


  .class1 {
    color: white;
    float: left;
}

.class2 {
    color: white;
    float: right;
}

